 
 /*****************Google fonts starts here******************************/
 @import url('https://fonts.googleapis.com/css?family=Acme|Kreon:300|Lobster|Open+Sans+Condensed:300|Roboto&display=swap');





 /*****************Google fonts ends here******************************/

 :root {
	--gpa-color:#00795f;
	--nav-color:#005c48;
	--unique-color:rgb(11, 218, 207);
	--gray-color:#eee;
	--white-color:#fff;
	--orange-color:#F48B35;
	--blue-color:#0000ff;
	--green-color:#008000;
	--red-color:#ff0000;
	--lightblue-color:#00aeef;
	--yellow-color:#ffff00;
	--special-color:#e8491d;
	--orangered-color:#ff4500;
	--black-color:#000;
	--darkblue-color:#1B3058;
	--link-color:#007bff;
  --school-color:#a41d31;
  --date-color:#cfcfcf;
  --date-color:#3cbeb4;
}
 .shos-contents-wrapper{
  overflow-x:hidden;
}





  /*
    ==============================
          HEADER-global
    ==============================
  */

 html,body{
 margin:0;
 padding:0;
 width:100%;
 height:100%;
 font-family: sans-serif;
 color:#222;
 background-color: #f4f2f5;
 font-weight: inherit;
 scroll-behavior: smooth;
 overflow-x: hidden !important;

 }

 header{
  padding:0px 0px;
  min-height: 110px;
  background-color: var(--gpa-color);
  text-align: left; 
 }


  
 
 /*---logo style-------*/
 .gpa__logo_section{
  display: inline-block;
}


 /*logo style ends*/
 

 /*****************HEADER SECTION ENDS HERE******************************/


  /*
    =====================================
           BODY STYLE
    =====================================
  */


  .gpa__banner{
    height: 100vh;
    margin: 0 auto;
    /* padding:30px; */
  }
  #gpa__about_us_section h3{
    color:var(--orange-color);
  }
  #gpa__about_us_section a{
    color:var(--blue-color);
    text-transform:None;
  }
  .gpa__btn_bg_white{
    margin-top:5px;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
  }
/*---About-us section--*/
#gpa__about_us_section{
  background-color: var(--white-color);
  margin-bottom:0px;
  margin-top: 20px;
  margin-left: 0;
  padding: 20px;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
  font-family: 'kreon', sans-serif;
}

/*
  ======================================
  CAROUSEL SLIDERS SECTION STARTS HERE
  ======================================
*/

#gpa__carousel{
  margin-top:20px;
}
#about-us_carousel-slider{
  margin-bottom: 20px;
}
.bd-example{
padding-bottom: 0;
}
.carousel-caption{
  position:absolute;
  top:40%;
  transform: translateY(-50%);
  background-color: black;
  opacity: 0.6;

}
.carousel_height{
  height:400px;
  width:100%;

}
.carousel-control-prev-icon{
height: 50px;
width:40px;

}
.carousel-control-next-icon{
  height: 50px;
  width:40px;
}
.lead{
  padding-left: 10px;
}

/*****************CAROUSEL SLIDERS SECTION ENDS HERE******************************/




/*
  =====================================
        COLLEGE DEPARTMENT COURSES
  =====================================
*/
#gpa__college_display_area{
  margin-top: 10px;
  margin-bottom: 10px;

}

.gpa__main_content_area{
  background-color: var(--white-color);
  margin-bottom: 0;
  margin-top: 20px;
  /* margin-left: -16px !important; */
  padding: 20px;
  font-size: 16px;
  border:1px solid var(--gray-color);
}
.gpa__college_title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center !important;
}
/* .gpa__college_content_section h2 ,h3 {
  text-align: center;
} */
.gpa__school_dept_name{
  text-align: left !important;
  font-family: 'Acme';
  color:var(--school-color);
  text-transform: capitalize !important;
}


.gpa__college_content_section h3 {
  padding: 15px 20px;
  margin: 0;
  padding: 5px 10px;
}

.gpa__college_content_section a{
  padding: 2px 5px 2px 5px;
  margin: 0;
  display: block;
  border-bottom: 1px solid var(--gray-color);
}

.gpa__college_content_section a:hover{
  background: rgba(0, 0, 0, 0.03);
  text-decoration:none;
  border-bottom: 2px solid var(--orange-color);
}

.gpa__college_content_section a:focus{
  background: var(--orange-color);
  color:var(--white-color);
}

.gpa__college_content_section{
  padding: 5px 5px;
    margin: 0;
}
.gpa__college_school_title_container{
  background-color: var(--darkblue-color);
  margin-top: 1rem;
  border-top: 2px solid var(--orange-color); 
  border-radius: 5px;
  border-left: 10px double var(--orange-color);
}


.gpa__college_school_title{
  color: var(--white-color);
  font-size: 1.2rem;
  padding: .2rem;
  text-transform: uppercase !important;
}

.gpa__college_content_section ul{
  padding: 0px 10px 0px 20px;
}

.gpa__college_content_section ul li{
  text-decoration: none;
  list-style: none;
  text-align: left;
}

.gpa__semester_one_name{
  color: var(--red-color);
  cursor: context-menu;
  font-size: 18px;
  font-weight: bolder;

}

.gpa__dept_course_name{
  border-bottom: 1px solid var(--gray-color);
}
.gpa__college_content_section ul li ul li{
  display:block;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
  padding: 0px 2px 0px 10px;
}
.gpa__college_content_section ul li ul li ul li{
  display:none;

}
.gpa__college_content_section ul li ul li:hover ul li{
  display: block;
  font-size: 18px;
  
}

.gpa__academic_year{
  color: var(--blue-color);
  font-weight: bold;
  cursor: context-menu;
  text-transform: uppercase !important;

     }
.gpa__semester_course_unit{
  font-style: italic !important; 
  text-transform: capitalize;
}
.gpa__semester_course_unit a{
  list-style: none;
  text-decoration: none;
  cursor: pointer ;
  font-size: 16px;
 }

.gpa__dept_course_name{
  color:var(--link-color);
  font-size: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-left: 1rem;
}

.gpa__dept_course_name:hover{
 background: rgba(0, 0, 0, 0.03) ;
 color:var(--green-color);

 }
.gpa__course_checkbox{
  display: none;
}
.gpa__course_label{
margin-bottom: 0rem !important;
width: 100%;
}
.gpa__course_checkbox:checked + .gpa__course_label .gpa__dept_course_name{
color:var(--green-color) !important;
background: rgba(0, 0, 0, 0.03) ;
}


/*
    =====================================
          NOTICE BOARD
    =====================================
*/
.gpa__notice_board_title_wrapper{
  background-color: #eee;
  color:#222;
  padding-top:20px;
}
.gpa__notice_board_inner{
  background-color: #f7b230;
  padding:15px 50px;
}
.gpa__notice_board_inner h3{
  background-color: #0746b6;
  border:1px solid 	#bdc69f;
  color:#fff;
  text-align: center;
}
.gpa__recent_notice{
  position: relative;
  background: #fff;
  height:85px !important;
  text-align: left !important;
  padding: 3px 0px 0px 3px;
  margin:0px;
  margin-bottom: 15px;
  border:1px solid 	#ccc;
}
.gpa__recent_notice_thumbnail_wrapper{
  float:left;
  
}
.gpa__recent_notice_content_wrapper{
  margin-left: 75px;
  padding-left: 15px;
  text-align: left !important;
}

.gpa__recent_notice_post_meta{
  padding-right:10px;

}
.gpa__post_date{
  background-color: var(--school-color);
  color:var(--white-color) !important;
  border-top-left-radius: 10px;
  padding:3px;
  font-size:10px;
}
.gpa__recent_notice_post_date {
  position: absolute;
  bottom: 2px;
  left:2px;
}
.gpa__recent_notice .gpa__recent_notice_title{
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: normal;
  font-family: "Lato", Helvetica,Arial,sans-serif;
}

.gpa__recent_notice_title a:hover{
 color:var(--unique-color);
 text-decoration: none;
}


.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  height: 350px;
}


.gpa__notice_area{
  background-color: #fff;
  padding:10px;
}

.gpa__current_notice_title{
  font-family: "Lato", Helvetica,Arial,sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #212121;
  font-size: 2em;
  padding-bottom:10px ;
}
.gpa__current_notice_content p{
  font-family: "Lato", Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28;
  line-height: 30px;
  color: #000000;
  text-rendering: optimizeLegibility;
  text-align: justify;
}
.gpa__notice_author img{
  border-radius: 100%;
  margin-right: 5px;
  backface-visibility: hidden;
}
.gpa_current_notice_thumbnail_inner{
    position: relative;
}
.gpa__current_notice_post_date{
  position: absolute;
  bottom: 2px;
  left:2px;
  font-size: 17px;
}
.gpa__current_notice_meta_location{
  padding-top:28px;
}





/**End NoticeBoard**/



/*
  ========================================
            COLLEGE SIDEBAR
  ========================================
*/

#gpa__college_sidebar_guidelines_wrapper {
border-bottom: 1px solid var(--gray-color);
text-align: center;
margin-bottom: 10px;
}
#gpa__college_sidebar_guidelines_wrapper p{
color:var(--white-color);
}
.gpa__sidebar_website_guide{
  text-align: center !important;
}

#gpa__college_sidebar{
  background-color: var(--darkblue-color); 
  color:var(--orange-color);
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
  width:305px;

}

#gpa__college_sidebar a{
  text-decoration: none;
  list-style: none;
  color:var(--white-color);

}
#gpa__college_sidebar_university_logo{
  width:100px;
}
.gpa__sidebar_quick_links_wrapper ul li{
  float:none;
  list-style: none;
  text-align: left;
}
.gpa__college_sidebar_university_links_wrapper a{
  padding: 5px 10px 5px 5px;
  margin: 0;
  display: block;
  border-bottom: 1px solid var(--gray-color);
}

.gpa__college_sidebar_quick_link {
    line-height: 1.7;
    margin: 0;
  }
.gpa__college_sidebar_quick_link a:hover{
    background-color: var(--orange-color);
    color:var(--white-color);

    }


 /*****End College sidebar******/




/*
  ========================================
        SERVICES SECTION STARTS HERE
  ========================================
*/
#gpa__services{
  padding:0;
  text-align: center;
  height: 42px;
  border-bottom: 3px solid #eee;
  border-top: 3px solid #eee;
}
#gpa__services h1{
  font-size: 30px;
  font-family: sans-serif;
}
.gpa__our_services_wrapper{
min-height: 18vh;
padding:30px;
background-image: linear-gradient(to right bottom,rgba(126,213,111,0.6),rgba(40,180,131,.6)) ,url(../img/revise2.jpg);
background-position: top;
background-size: cover;
/*clip-path:polygon(0 0,100% 0,100% 250px,0 100%);*/
margin-bottom: 1px;
}
.gpa__service_card{
background-color: white;
opacity:0.8;
padding:5px;
margin-bottom: 50px;
text-align:center;
border-radius:20px;
box-shadow: 0 1.5px 4px rgba(#000, .15);
transition: transform .3s;
font-family: 'Acme', sans-serif;
}
.gpa__service_card:hover{
  transform: translateY(-5px);
  box-shadow: 0 10px 10px 10px rgba(0,0,0 ,.1);
}

.gpa__service_card h3{
color:var(--green-color);
}

.gpa__icon{
font-size:50px;
display: inline-block;
}
/*****************SERVICES SECTION ENDS HERE******************************/

/*
  =====================================
          GPA BUTTONS
  =====================================
*/
.gpa__btn:link,
.gpa__btn:visited {
text-transform:capitalize;
text-decoration: none;
padding:8px 20px;
display: inline-block;
border-radius: 100px;
transition: all .2s;
margin-bottom: 20px;
position: relative;
color:white;
}

.btn--blue{
color:white;
background:var(--blue-color);
}
.btn:hover{
box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.btn:active{
box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn::after{
content:"";
display:inline-block;
height: 100%;
width:100%;
border-radius: 100px;
position: absolute;
top:0;
left:0;
z-index: -1;
transition: all 0.4s;
}
.btn--blue::after{
background-color:var(--blue-color); 
}
.btn:hover::after{
transform: scaleX(1.4) scaleY(1.6);
opacity: 0;
}




/*
  =============================================
            NEWS ARENA HOME PAGE
  =============================================
*/

/****NEWSFEEDS SECTION STARTS HERE*****/

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0)  !important;
            transform: translate3d(0, 0, 0) !important;
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0) ;
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0) ;
}

.updates{
 transform: skew(-20deg);
 background: rgb(11, 218, 207);
  border-bottom-left-radius: 10px !important; 
  margin-left: -10px;
  padding-left: 2px;
  margin-bottom: -4.5px;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}
.vert{
  text-align: left !important;
  margin-top: -5px;
  color:#ffffff !important;
  border-bottom: 0;
  padding: 5px;


}
#vert {
  background-color: #253b80 ;
  border-bottom-right-radius: 30px !important;
  border-bottom-left-radius: 10px !important;
  border:3px solid var(--unique-color);
  border-left: 10px solid var(--unique-color);
  border-right: 20px solid var(--unique-color);
  border-bottom:  0px solid white;

}
.vert a{
  color:white;
}
#news{
  padding:0;
  color:#ffffff !important;  
  background-color: #253b80 ;
  text-align: center;
  min-height: 42px;
  border-bottom-right-radius: 0px !important;
 

}

#news h1{
  font-size: 30px;
  font-family: sans-serif;

}
.news_area{
  min-width: "";
  min-height:auto !important;
  margin-bottom: 10px;
  margin-top:10px;
  text-align: center;
  font-family: 'Acme', cursive !important; border-radius: 20px;
}
.news_area a{
  text-decoration: none;
}
.news_area img{
  width:100%;
  border-radius: 20px;
}

.news_card-sliding{
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2) !important;
  
}
.news_card{
background-color: var(--white-color);
box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2) !important;
border-radius: 3px;
max-width: 100%;
height:auto !important;
margin-bottom: 20px;
border-radius: 20px;
}
.news_scene_img_container{
  margin-bottom: -65px;
  padding-bottom: 0;
}
.scene_img_lg{
  margin-bottom:1.5rem;
  height:auto;
}
.std_ads-img{
  height: 390px;
}

.university_logo-rounded{
  max-width:90px;
  max-height:90px;
  min-width:60px;
  min-height:60px;
  position: relative;
  left:50%;
  bottom:70px;
  -webkit-transform:translate(-50%, 0%);
  transform:translate(-50%, 0%);
  box-shadow:0 4px 8px 0 rgba(0,0,0,0.4);
  background-color: var(--white-color);
  opacity:0.8;
  border-radius: 50%;
  padding:10px;
  border:2px solid var(--gray-color);
}
.university_name_having_news_trending{
    display: block;
    font-size: 26px;
    color:var(--link-color);
    line-height: 26px;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Signika", sans-serif;
}
.detailed_news_story{
    display: block;
    font-size: 16px;
    line-height: 16px;
    margin-top: 0;
    padding-bottom: 10px;
    font-family: 'san-serif';

}
.date_posted_anthor{
  margin-bottom: 8px;
  text-align: center;
  color:#cfcfcf;
  font-size: 14px;
}
 .news_article_area{
  font-family: 'Acme', cursive !important;
   padding:0 10px 1px 10px;
   font-size: 17px !important;
 }
 .news_story_healines{
   color:var(--red-color);
   font-size: 20px;
 }
 /*
  ====================================
          Front Page News Area
  ====================================
*/
.gpa__news_card{
  margin-bottom: 2px !important;
  background-color: #fff;
  margin:2px;
  text-align: left !important;

}
.gpa__news_card h3
.gpa__news_card h3{
  font-size:18px;

}
.news_row{
 background-color: var(--white-color);
 color:var(--black-color);
 min-height: 200px;
 width: 400px;
 margin-top: 10px;
 border: 2px solid var(--gray-color);
 padding:20px;
 text-align: center;
 font-family: 'acme', sans-serif;

}
.news_row h4{
  color:var(--lightblue-color);
}
#news_row-img-1{
width:100%;
height:auto;
opacity: 1;
vertical-align: middle;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}
.news_row-img{
  overflow: hidden;
  padding: 0;
}


/*
  ==============================================
      NEWS TRENDING & MOST VIEWED SECTION
  ==============================================
*/

.gpa__trending_news_bullet{
  
  margin-top:20px;

}
.gpa__main_post{
  margin-bottom: 5px;
  
}
.gpa__post_thumbnail_small_wrapper{
  border-radius: 20px !important;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity .3s ease-in-out,-webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out,transform .3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gpa__trending_news_main_inner{
  background-color: #ffffff !important;
  padding:10px;

}
.gpa__trending_news_main h4{
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 0;
}
.gpa__trending_news_main h4 a{
  color: #222;
}
.gpa__trending_news_bullet a:hover{
  color:var(--special-color);
  text-decoration: none;
}
.gpa__news_cat_title_wrapper h5{
  background-color: var(--darkblue-color);
  color:var(--white-color);
  padding:10px;
  padding-left:20px;
  margin-bottom: 10px;
  border-top:3px solid var(--orange-color);
  text-transform: uppercase !important;
  border-bottom-left-radius: 20px;
  font-weight: 700 !important;
}
.gpa__news_sidebar_cat_title_wrapper h5{
  background-color: var(--unique-color) !important;
  color:white;
  border:none;

}
.gpa__post_thumbnail_small_wrapper .thumb img {
  height: auto;
  width: 100%;
  max-width: 100%;
  -webkit-transition: opacity .35s,-webkit-transform .35s;
  transition: opacity .35s,transform .35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.gpa__trending_news_main img {
  max-width: 100%;
  height: auto;
}
.gpa__trending_news_main .row-type .post-c-wrap {
  margin-top: 15px;
}
.gpa__trending_news_main ul{
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.gpa__trending_news_main .row-type h4 {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.3;
  color: #222 !important;
  transition: background-color .2s ease-in-out;
  -webkit-transition: background-color .2s ease-in-out;
}
.gpa__trending_news_main a:visited, a:focus {
  text-decoration: none!important;
  color: inherit;
  outline: 0!important;
}
.gpa__trending_news_main a:hover{
  text-decoration: none;
}
.gpa__trending_news_main .gpa__main_post .meta {
  display: inline-block;
}
.gpa__trending_news_main .gpa__main_post .meta>div {
  display: inline;
  margin-right: 12px;
  color: #aaa;
  font-size: 12px;
}

.gpa__news_cat_separator{
  color:var(--unique-color);
}



.gpa__news_sidebar_highlights{
  border-left:1px solid #ccc;
}
.related-posts p{
  text-align:center ;
  padding-left:30px !important;
  color:var(--link-color);
}
.gpa__post_excerpt {
  text-align: left !important;
  padding: 0px !important;
  color: #222 !important;
}
.gpa__news_most_viewed_posts_wrapper{
  background-color: #ffffff;
  padding:0px 5px 0px 5px;

}

.gpa__news_sidebar_article {
  margin-bottom: 25px;
  overflow: hidden;
  margin-left: 10px;
  border-bottom: 1px solid #eee;
}
.gpa__news_sidebar_article .gpa__news_sidebar_thumbnail_wrapper {
  width: 120px;
  float: left;
}
.gpa__news_sidebar_thumbnail_wrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.gpa__news_sidebar_article .gpa__news_sidebar_content_wrapper {
  margin-left: 120px;
  padding-left: 15px;
  text-align: left !important;
}
.gpa__news_sidebar_article .gpa__news_sidebar_post_title {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0 0 5px;
  letter-spacing: normal;
}
.gpa__news_sidebar_post_title a {
  color: #212121;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
}
.gpa__news_sidebar_post_title, .entry-header .gpa__news_sidebar_post_title, .jeg_single_tpl_2 .entry-header .gpa__news_sidebar_post_title, .jeg_single_tpl_3 .entry-header .gpa__news_sidebar_post_title, .jeg_single_tpl_6 .entry-header .gpa__news_sidebar_post_title {
  font-family: "Lato", Helvetica,Arial,sans-serif;
  font-weight: 900;
  font-style: normal;
}
.gpa__news_sidebar_post_meta a{
  font-size: 11px;
  text-transform: capitalize;
}
.gpa__news_sidebar_post_meta .gpa__news_sidebar_post_date_link{
  color: #a0a0a0;
}
.gpa__news_sidebar_post_meta>div {
  display: inline-block;
}


/*
  ====================================
      ARCHIVE PAGE
  ====================================
*/

.gpa__post_excerpt p{
  margin-bottom: 0px !important;
}
.gpa__post_excerpt .gpa__btn_more{
  color:var(--white-color) !important;
  background-color: var(--school-color);
  padding:4px;
  font-size: 14px;
  border-top-right-radius: 10px;
}
.gpa__post_excerpt .gpa__btn_more:hover{
  background-color: var(--unique-color);
}




/*******NEWS FEEDS SECTION ENDS HERE**********/

/*
  =========================================
        FOOTER SECTION STARTS HERE
  =========================================
*/
footer{

  border-top: 1px solid var(--orange-color);

}
#gpa__disclaimer_wrapper{
  background-color: #35423a;
  color:var(--white-color);
  padding-bottom: 5px;
  margin: 0;
  font-style: italic;
  font-family: 'Acme';
}

#gpa__disclaimer_wrapper h1{
  text-align: center;
  color:  var(--special-color);
  font-weight: bold;
  font-size: 40px;
}
.fa-exclamation-circle{
  margin-top: 10px;
}

#gpa__footer_copyright_wrapper{
  background-color: var(--special-color);
  color:var(--white-color);
  height: auto;
  padding:1px;
}
#gpa__footer_copyright_wrapper h6{
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Acme';
}
#gpa__footer_copyright_wrapper h6 a{
  color:var(--nav-color);
  text-decoration: none;
  font-weight: bold;

}
#gpa__footer_copyright_wrapper h6 a:hover{
  color:var(--white-color);
}
#gpa__footer_wrapper{
  background-color:#1B3058;
  color:#d3dde6;
  padding-top: 10px;
  width:100%;
  padding-bottom: 10px;

}

.gpa__footer_menu{
  border-top: 1px solid orangered !important;
  
}

#gpa__footer_wrapper h4{
   background-color: var(--darkblue-color);
   color: var(--white-color);
   padding: 3px;
   border-left: 10px solid var(--unique-color);
   border-right: 1px solid var(--orange-color);
   text-transform: uppercase;
   text-align: left !important;
   font-weight: normal;
   border-top: 5px solid var(--orange-color);
   border-bottom: 1px solid var(--orange-color);
   border-top-right-radius: 20px;
   border-bottom-left-radius: 20px;
 }
 #gpa__footer_wrapper ul li{
   text-align: justify;
   padding-left: 45px;
   
}
#gpa__footer_wrapper a{
  color:var(--orange-color);
  
}
#gpa__footer_wrapper a:hover{
  color:var(--unique-color);
  text-decoration: none;
  
}


 /*
  =====================================
            NEWSLETTER SYTLE
  =====================================
 */

/* .newsletter{
  background: url('../img/newsletter-img.jpg') no-repeat ;
  background-position:center;
  background-size: cover;
  min-height: 200px;
  text-align:center;
  border-top: 5px solid var(--special-color);
}
.newsletter h1{
  margin-top: 10px;
  font-size: 35px;
}

.newsletter-row{
  color:var(--white-color);
  margin-top: -2px;
}
.newsletter_SubscribeNote{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  text-align: left;
}
.newsletter_SubscribeNote-title{
  text-align: center;
  padding-top: 10px;
}
.newsletter_SubscribeNote-title h1{
  font-size: 35px;
  color:var(--orange-color)
}
.newsletter_SubscribeNote-title__rule{
  border-top: 1px solid var(--special-color);
  margin:0;
  padding:0;
}
.btn-submit{
  background-color:var(--special-color);
  color:var(--white-color);
  margin-top: 10px;
  border-radius: 10px;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 140px;
}
.btn-submit:hover{
  color:var(--white-color);
  background-color: var(--blue-color);
  transform: translateY(-1px);
}
input[type="newsletter_text"]{
  padding-left: 10px;
  min-height:30px;
  overflow: hidden;
  max-width:300px;
  border:0;
  margin-left:30px;
  outline:none;
  border-radius: 24px;

}
input[type="newsletter_text"]:hover{
  border-bottom: 3px solid var(--special-color);
}
#notice-title{
  color:var(--orange-color);
} */


/*
  ===============================
      BACK TO TOP
  ===============================
*/
#back-to-top {
  position: fixed;
  bottom: 10px; 
  left:  2px; 
  z-index: 99; 
  border: none;
  outline: none; 
  opacity:.6;
  cursor: pointer;
  padding: 10px; 
  border-radius: 10px;
  font-size: 30px;

}



/*
  ==============================================
            UNIVERSITY TEMPLATE PAGE
  ==============================================
*/

.gpa__university_title{
  font-family: 'Acme', cursive !important;
  text-transform: uppercase;
  font-size: 23px;
}
.gpa__university_logo{
  width:140px;
}
.gpa__university_description p{
  font-style: italic;
  text-align: justify;

}
.gpa__university_college{
  border-bottom: 1px solid #eee;
  text-transform: capitalize !important;
}
.gpa__university_college a{
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize !important;
}
.gpa__university_description{
  padding:10px;
}
.gpa__university_colleges_facaulty_schools_wrapper h4{
  text-align: center !important;
}
.gpa__university_college a:hover{
  color: #1fbd1f;
}


/*
  =========================================
        USER SUBMITTED POSTS 
  =========================================
*/


.gpa__user_submited_col{
  text-align: left !important;
  padding-left: 0 !important;
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0)); */

}
.gpa__user_submited_col a:hover{
  text-decoration: none;

}
.gpa__user_submited_post_inner{
  
  
}
.gpa__user_submited_post_title{
  text-align: center !important;
  font-family: 'Acme';
  text-transform: capitalize !important;
  box-shadow: rgb(255, 252, 252) 1px 1px 1px 1px, 
  rgba(0, 0, 0, 0.0980392) 3px 6px 1px, 
  rgba(0, 0, 0, 0.0980392) 0px 0px 5px, 
  rgba(0, 0, 0, 0.298039) 0px 1px 3px,
  rgba(0, 0, 0, 0.14902) 0px 3px 5px; 
}
.gpa__user_submited_post_inner p{
  padding: 10px;
}
.gpa__user_submited_post_form_wrapper{
  padding:10px;
  /* background-color: var(--white-color); */
  margin-top: -20px;
}
.gpa__user_submited_post_form_wrapper h6{
  /* margin-bottom: -10px; */
}
.gpa__user_submited_post_form_wrapper #usp_form label{
  font-size: 17px !important;
  font-family: 'Acme';

}
.gpa__user_submited_post_form_wrapper .usp-textarea{
  border-radius: 20px;
  border:1px solid var(--unique-color);
  padding-left: 10px;
}
.gpa__user_submited_post_form_wrapper .usp-select{
  padding:5px;
  border-radius:25px;
  border:1px solid var(--unique-color);
}
.gpa__user_submited_post_form_wrapper .usp-input{
  border-radius: 20px;
  padding:2px;
  padding-left:5px;
  border:1px solid  var(--unique-color);
}
.gpa__user_submited_post_form_wrapper .usp-clone{
  border:none !important;
  color:var(--unique-color);
}
.gpa__user_submited_post_form_wrapper .usp-file-preview{
  height: 150px !important;
  margin: 10px 0px -10px 5px !important;
}
.gpa__user_submited_post_form_wrapper #usp-submit{
  width:100% !important;
  text-align: center !important;
  margin: 0 !important;
}
.gpa__user_submited_post_form_wrapper .usp-submit{
  font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 26px;
    padding-top: 5px;
    padding-bottom: 10px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
    box-shadow: rgb(204, 204, 204) 1px 1px 0px, 
    rgb(201, 201, 201) 2px 2px 0px, 
    rgb(187, 187, 187) 3px 3px 0px, 
    rgb(185, 185, 185) 4px 4px 0px, 
    rgb(170, 170, 170) 3px 5px 0px, 
    rgba(0, 0, 0, 0.0980392) 3px 6px 1px, 
    rgba(0, 0, 0, 0.0980392) 0px 0px 5px, 
    rgba(0, 0, 0, 0.298039) 0px 1px 3px, 
    rgba(0, 0, 0, 0.14902) 0px 3px 5px, 
    rgba(0, 0, 0, 0.2) 0px 5px 10px, 
    rgba(0, 0, 0, 0.2) 0px 10px 10px, 
    rgba(0, 0, 0, 0.0980392) 0px 20px 20px, 
    0px 0px 5px rgba(0,0,0,0.5);
}
.gpa__user_submited_post_form_wrapper .usp-submit:hover{
  background-color: #0ebc7f;
}
#usp-success-message{
  color:#0ebc7f;
}
/*
  =========================================
        GPA RIGHT SIDEBAR  
  =========================================
*/

#gpa__right_sidebar{
  margin-top: 20px;
  background-color: var(--white-color);
  border:1px solid #eee;
  padding:20px;
}
#gpa__right_sidebar h4{
   background-color: var(--darkblue-color);
   color:var(--white-color);
   padding:3px;
   margin-bottom:15px;
   border-left: 10px solid var(--unique-color);
   text-transform: uppercase;
   text-align: left !important;
   font-weight: normal;
   border-top: 5px solid var(--orange-color);
   border-top-right-radius: 20px;
   padding-left:10px;
}
#gpa__right_sidebar li{
  border-bottom: 1px solid #eee;
  padding:5px 0;
}
#gpa__right_sidebar li,
#gpa__right_sidebar a{
  color:#6c757d;
  text-align: left;
  text-decoration: none;
}
#gpa__right_sidebar li a:before{
  content:'>>> ';
  color: var(--nav-color);
}
#gpa__right_sidebar a:hover{
  list-style: none;
  text-decoration: none;
  color:var(--gpa-color);
}
#gpa__right_sidebar li:hover{
  transform: translateX(10px);
  transition: all .2s;
  
}
























